::-webkit-scrollbar {
                                  width: 8px;
                                }
                                /* Track */
                                ::-webkit-scrollbar-track {
                                  background: #f1f1f1; 
                                }
                                 
                                /* Handle */
                                ::-webkit-scrollbar-thumb {
                                  background: #888; 
                                }
                                
                                /* Handle on hover */
                                ::-webkit-scrollbar-thumb:hover {
                                  background: #555; 
                                } ody,
html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: rgba(30,29,31,1);
background: -moz-linear-gradient(-45deg, rgb(241, 239, 243) 0%, rgb(9, 53, 115) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,29,31,1)), color-stop(100%, rgb(9, 53, 115)));
background: -webkit-linear-gradient(-45deg, rgb(241, 239, 243) 0%, rgb(9, 53, 115) 100%);
background: -o-linear-gradient(-45deg, rgb(241, 239, 243) 0%, rgb(9, 53, 115) 100%);
background: -ms-linear-gradient(-45deg, rgb(241, 239, 243) 0%, rgb(9, 53, 115) 100%);
/*background: #8D9EFF;*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1 );
}

.form-control:focus {
    box-shadow: none;
    border-color: #bc6f3c;
}

.profile-button {
    border: #A6541E 1px solid;
    background-color: #A6541E;
    color: #fff;
}

.profile-button:hover {
    background-color: #A6541E;
}

.profile-button:focus {
    background-color: #A6541E;;
    box-shadow: none
}

.profile-button:active {
    background-color: #A6541E;;
    box-shadow: none
}

.back:hover {
    color: #A6541E;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #bc6f3c;
    color: #fff;
    cursor: pointer;
    border: solid 1px #bc6f3c
}