{% load static %}

<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Visualización de Perfil</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='#' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'estilos/style_profile.css' %}">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</head>

<body className='snippet-body'>

    {% csrf_token %}
    {% if d %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                {% if d.rol != 'Doctor' %}
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px" src="{% static 'Imagenes/paciente.png' %}"><span
                        class="font-weight-bold">{{d.nombres}} {{d.apellidos}}</span><span class="text-black-50">Género:
                        {{d.genero}}</span><span> </span></div>
                {% endif %}
                {% if d.rol == 'Doctor' %}
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px" src="{% static 'Imagenes/doctor.png' %}"><span
                        class="font-weight-bold">{{d.nombres}} {{d.apellidos}}</span><span
                        class="text-black-50">{{d.genero}}</span><span> </span></div>
                {% endif %}
            </div>

            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Perfil del paciente</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Nombres</label><input type="text"
                                class="form-control" placeholder="Nombres" value="{{d.nombres}}" name="nombres"
                                disabled>
                        </div>
                        <div class="col-md-6"><label class="labels">Apellidos</label><input type="text"
                                class="form-control" value="{{d.apellidos}}" placeholder="Apellidos" name="apellidos"
                                disabled></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Correo electrónico</label><input type="email"
                                class="form-control" placeholder="e-mail" value="{{d.correo}}" name="correo" disabled>
                        </div>
                        <div class="col-md-12"><label class="labels">Direccion de residencia</label><input type="text"
                                class="form-control" placeholder="" value="{{d.direccion}}" name="direccion" disabled>
                        </div>
                        <div class="col-md-12"><label class="labels">Teléfono de contacto</label><input type="text"
                                class="form-control" placeholder="" value="{{d.telefono}}" name="telefono" disabled>
                        </div>

                        <div class="col-md-12"><label class="labels">Cédula</label><input type="text"
                                class="form-control" placeholder="No. Documento" value="{{d.cedula}}" name="cedula"
                                disabled>
                        </div>
                        <div class="col-md-12"><label class="labels">Fecha nacimiento</label><input type="date"
                                class="form-control" value="{{d.fecha_nacimiento}}" name="fecha_nacimiento" disabled>
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                            onclick="pacientes()">Volver</button></div>


                </div>
            </div>



            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Ver
                            Diagnóstico</span><span class="border px-3 p-1 add-experience"><i
                                class="fa fa-plus"></i>&nbsp;Diagnosticar</span></div><br>
                    <div class="col-md-12"><label class="labels">Diagnostico de la entevista virtual (Test PHQ-9)
                        </label><textarea type="" class="form-control" value="" style="WIDTH: 228px; HEIGHT: 80px"
                            disabled></textarea>
                    </div> <br>
                    <div class="col-md-12"><label class="labels">Diagnostico de la Video-Entrevista
                        </label><textarea type="" class="form-control" value="" style="WIDTH: 228px; HEIGHT: 80px"
                            disabled></textarea>
                    </div> <br>
                    <div class="col-md-12"><label class="labels">En este apartado podrá crear o actualizar el
                            diagnostico del paciente
                        </label><textarea type="" class="form-control" value=""
                            style="WIDTH: 228px; HEIGHT: 200px"></textarea>
                    </div> <br>

                </div>
            </div>

        </div>
    </div>
    {% endif %}

    <script type='text/javascript'
        src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript'>

        function pacientes() {
            var parametros = new URLSearchParams(window.location.search);

            // Obtener el valor de un parámetro específico
            var id = parametros.get('id');
            var rol = parametros.get('rol');
            var id_usu = parametros.get('id_usu');
            var url = "/dashboard/?id=" + id + "&rol=" + rol;
            window.location.href = url;

        }
    </script>

</body>

</html>