{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Entrevistas virtuales</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'estilos/style_videos_container.css' %}">

</head>

<body>
  <!-- partial:index.partial.html -->
  {% if d %}
  <div class=" container">
    <header class="main-header">
      <img class="logo" id="logo" src="{% static 'Imagenes/doctores.png' %}">
      <h1 class="name">Formularios PHQ-9 del doctor de<span> {{d.nombres}} {{d.apellidos}}</span></h1>
    </header>

    <div class="gallery">

      {% if e %}
      {% for i in e %}
      <div class="photo-container">
        <div class="photo slide">
          <img src="{% static 'Imagenes/video_mini.png' %}"  alt="Up in the Air">
          <div class="photo-overlay">
            <p>Realizado en acompañamiento del profesional: {{i.doctor}}</p>
            <p>Fecha: {{i.fecha}}</p>
            <p>Puntos: {{i.puntos}}</p>
            <p>Diagnóstico: {{i.diagnostico}}</p>
            <a href="/datos_formulario/?id_entrevista={{i.entrevista}}" class="button">Ver</a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
  {% endif %}
  <!-- partial -->

</body>
<script type="text/javascript">

</script>

</html>